.gitignore
apiEddie
apiEddie
modelsEddie
web_flaskEddie
modelsEddieV0
api/__init__.pyc
api/__pycache__/
api/v1/__init__.pyc
api/v1/__pycache__/
api/v1/views/__pycache__/__init__.cpython-39.pyc
api/v1/views/__pycache__/index.cpython-39.pyc
api/v1/views/__pycache__/user.cpython-39.pyc
models/__pycache__/__init__.cpython-39.pyc
models/__pycache__/base_model.cpython-39.pyc
models/__pycache__/data.cpython-39.pyc
models/__pycache__/question.cpython-39.pyc
models/__pycache__/user.cpython-39.pyc
models/engine/
sql_BD_v1.sql
web_dynamic/templates/prub.html
api/v1/__pycache__/app.cpython-36.pyc
api/v1/views/__pycache__/__init__.cpython-36.pyc
api/v1/views/__pycache__/index.cpython-36.pyc
api/v1/views/__pycache__/question.cpython-36.pyc
api/v1/views/__pycache__/user.cpython-36.pyc
dmodels/__pycache__/__init__.cpython-36.pyc
models/__pycache__/answer.cpython-36.pyc
models/__pycache__/base_model.cpython-36.pyc
models/__pycache__/data.cpython-36.pyc
models/__pycache__/question.cpython-36.pyc
models/__pycache__/question_option.cpython-36.pyc
models/__pycache__/user.cpython-36.pyc
web_dynamic/__pycache__/App.cpython-36.pyc
web_dynamic/__pycache__/__init__.cpython-36.pyc
web_dynamic/__pycache__/app.cpython-36.pyc
api/v1/views/n_q.py
models/__pycache__/survey_section.cpython-39.pyc
api/v1/views/__pycache__/
models/__pycache__/
sql_BD_v2.sql
work_questions-v3.xls
