<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Fecha de registro</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>email</td>
                <td>numero de documento</td>
                <td>Tipo de documento</td>
                <td>telefono</td>
                <td>nombre de la pregunta (name_question)</td>
                <td>Peso de la pregunta</td>
                <td>Peso de lo respondido</td>
            </tr>
        </thead>
        <tbody>
            {% for answer, user, type_document in answers %}
            <tr>
               <td>{{ answer.created_at }}</td>
               <td>{{ user.name }}</td>
               <td>{{ user.lastname }}</td>
               <td>{{ user.email }}</td>
               <td>{{ user.nro_document }}</td>
               <td>{{ type_document.name }}</td>
               <td>{{ user.phone }}</td>
               <td>NOMbre de la pregunta</td>
               <td>{{ answer.answer_value }}</td>
               <td>Peso total de la pregunta AUN</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>