<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Core Partner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">

</head>
<body>
    <div class="circle-out">
        <div class="circle-in"></div>
    </div>
    <header>
        <img class="logo" src="{{url_for('static', filename='images/CorePartners_LogoRGB_positivo.png')}}" alt="Logo Core Partner">
        <a href="https://corecapital.com.pe/">
            <button type="button" class="btn btn-dark header-btn">Pagina Principal</button>
        </a>
    </header>
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-12"> -->
                    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                                    <h1 class="modal-title">INSCRÍBETE</h1>
                                </div>
                                <form id="form" action="{{url_for('add_form')}}" method="POST">
                                <div class="modal-body">
                                    <div class="formulario">
                                            <div class="row x-gap-contacto y-gap-contacto">
                                                <div class="col-lg-6">
                                                    <div class="js-input-group">
                                                        <input type="text" id="username" class="minimal" name="name" placeholder="¿Cuál es tu nombre?" required/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="js-input-group">
                                                        <input type="text" id="userlastname" class="minimal" name="lastname" placeholder="¿Cuál es tu apellido?" required/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="js-input-group">
                                                        <input type="email" id="email" class="minimal" name="email" placeholder="Correo Electrónico" required/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="js-input-group">
                                                        <input type="number" id="phone" class="minimal num-text" name="phone"  placeholder="Teléfono / Celular" required/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 br">
                                                    <div class="js-input-group">
                                                        <select class="minimal mr-0" name="type_document" required>
                                                            <option value="0" disabled>Documento</option>
                                                            <option id="1" value="1">DNI</option>
                                                            <option id="2" value="2">Pasaporte</option>
                                                            <option id="3" value="3">Carnet de Extranjería</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 bl">
                                                    <div class="js-input-group">
                                                        <input class="mr-1" type="number" name="nro_document" placeholder="Numero #" required/>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="control-formulario">
                                        <span id="politicas-label-click" class="politicas-label">
                                            Autorizo la recopilación y tratamiento de mis datos personales, he leído las 
                                            <a class="control-politicas-a" href="https://corecapital.com.pe/docs/CORE_Capital_Politica_de_Privacidad.pdf" target="_blank">
                                                Políticas de Privacidad
                                            </a>
                                        </span>
                                        <!-- <a href="#" class="js-option-politicas option-politicas -cheked">  </a> -->
                                        <input class="option-politicas" type="radio" id="html" name="fav_language" value="HTML" multiple required>
                                        <!-- <a href="#" class="enviar black -lg button fw-600 js-enviar-form sm:mt-16 sm:d-block"> -->
                                            <button type="submit" class="btn-submit enviar">
                                                Enviar Datos
                                                <i class="fa fa-paper-plane"></i>
                                            </button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    <main>
        <div class="content-text">
            <p class="content-h3">¿ESTÁS LISTO PARA SACARLE EL JUGO A TU PATRIMONIO?</p>
            <h1>OBTÉN TU PERFIL DE RIESGO</h1>

            <button type="button" data-toggle="modal" data-target="#mymodal" class="btn-main btn btn-light">Iniciar el cuestionario</button>
        </div>
        <span class="rotated-text">Invirtamos juntos</span>
        <div class="footer">
            <div class="footer-right">
                <p>
                    <strong>CORE Capital SAFI © 2021</strong>
                    (511) 748-4547 /
                    <a href="https://corecapital.com.pe" target="_blank">
                        info@corecapital.com.pe
                    </a>
                </p> 
                <div class="footer-icons">
                    <a href="https://www.facebook.com/corecapitalsafi/" target="_blank"><i class="fab fa-facebook-f fb"></i></a>
                    <a href="https://twitter.com/corecapitalsafi" target="_blank"><i class="fab fa-twitter tw"></i></a>
                    <a href="https://www.linkedin.com/company/core-capital-safi" target="_blank"><i class="fab fa-linkedin-in ln"></i></a>
                    <a href="https://www.instagram.com/corecapitalsafi/" target="_blank"><i class="fab fa-instagram ig"></i></a>
                </div>
            </div>
            <div class="button-group-footer">
                <a href="https://corecapital.com.pe/whatsapp" target="_blank"><i class="fab fa-whatsapp fa-2x icon-wsp"></i></a>
                <!-- <a href="#" ><i class="far fa-envelope fa-2x icon-msg"></i></a> -->
                <a href="https://corecapital.com.pe" target="_blank" class="icon-msg">
                    <svg class="sicon-mail" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 21h-24v-18h24v18zm-23-16.477v15.477h22v-15.477l-10.999 10-11.001-10zm21.089-.523h-20.176l10.088 9.171 10.088-9.171z"/></svg>
                </a>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='scripts/render.js')}}"></script> -->
    <!-- <script src="{{url_for('static', filename='scripts/form.js')}}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
</html>
